
*{
margin: 0;
--gold-color: #EDC441;


}

.landing-page{
    /* display: flex; */
    background-color: var(--gold-color);
    
}
/* #EDC441 */
.introduction{
    height: 450px;
    padding: 150px 0px 100px 200px;

}
.introduction h4{
    color: grey;
}

.logo img{
    padding:50px 0px 0px 200px;
    size: 50px;
}
.about-me{
    padding: 50px 0px 50px 200px;
    max-width: 600px;
}
.about-me h4{
    color:var(--gold-color);
    
}
.skills-hobbies{
    background-color: black;
    padding: 50px 0px 50px 200px;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.skills h4, .hobbies h4{
    color: var(--gold-color);
}
.footer{
    padding: 50px 0px 50px 200px;
    background-color: rgb(151, 149, 149);
    
}
.footer form button,.introduction button {
    /* margin: 20px 0px 50px 100px; */
    background-color: black;
    color:var(--gold-color);
    padding: 10px 50px;
    text-align: center;
    border: none;
    border-radius: 8px;
    
}
.footer label,.footer label input,.footer label textarea{
    padding: 10px;
}